version: '3'
services:
  dev-portal:
    build:
      context: ./
      dockerfile: ./bsu.developer-portal/Dockerfile
    ports:
      - "8080:8080"
    container_name: dev-portal
    command: npm run serve